.p-10 {
  padding: 10px;
}

.large.orange {
  background-color: #f58120;
  height: 200px;
  border-radius: 10px;
}

.small.gray {
  background-color: #d3d3d3;
  height: 200px;
  border-radius: 10px;
}

.gray {
  background-color: #ddd;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #f58120;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #f58120;
  margin: 10px auto 0;
}